@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
    <head>
    <link href="~/css/home.css" rel="stylesheet" />
    </head>
<body>

    <div style="text-align:center;color:brown;font-size:50px">
        <label colspan="3">Government Of India</label>
        <span style="padding-left:400px">
            <a style="height: 45px; width: 100px;text-align: center; font-size: 20px;" class="btn btn-primary text-light " href="@Url.Action("Enrollment", "Home")">Enroll</a>
        </span>
    </div>
    <hr />
    <div class="container">
    <div class="row">
        <div class="col">
   <table>
    <tr>
       <td>
          <img src="~/img/azadikaaa.png" alt="Image1" width="500">
        </td>
    </tr>
        <tr>
            <td> <img src="~/img/sscimage2.jpg" alt="Image1" width="500"></td>
        </tr>
        <tr>
            <td> <img src="~/img/sscimage3.jpg" alt="Image1" width="500"></td>
        </tr>
   </table>
            </div>
            <div class="col">
            <div id="LatestNewsSec">
                <div class="leftsideNotifications_New">
                    <h3>Latest News</h3>
                    <div class="scrollingNotifications_New scrollbar" id="forScrollNews">
                        <ul>
                            <li>
                                <div class="eachNotification ">
                                    <span>May<i>11</i>2023</span>
                                    <!-- ==Edited on 14-03-2018 : Added file info== -->
                                    <p class="English">

                                        <a href="https://ssc.nic.in/SSCFileServer/PortalManagement/UploadedFiles/tentative_answer_SICPO22_english_11052023.pdf" target="_blank">
                                            Uploading of Tentative Answer Key(s) along with Candidates' Response Sheet(s) - Sub-Inspector in Delhi Police and CAPFs Examination (Paper-II), 2022
                                        </a>
                                        <small style="font-family:Calibri;">
                                            (131.52 KB)
                                        </small>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="eachNotification ">
                                    <span>May<i>11</i>2023</span>
                                    <p class="English">

                                        <a href="https://ssc.nic.in/SSCFileServer/PortalManagement/UploadedFiles/Revised_Final_Vacancies_CGLE-2022_11052023.pdf" target="_blank">
                                            Revised Final Vacancies for Combined Graduate Level Examination, 2022 (as on 09.05.2023)
                                        </a>
                                            <small style="font-family:Calibri;">
                                            (547.99 KB)
                                        </small>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="eachNotification">
                                    <span>May<i>9</i>2023</span>
                                    <!-- ==Edited on 14-03-2018 : Added file info== -->
                                    <p class="English">
                                        <a href="https://ssc.nic.in/SSCFileServer/PortalManagement/UploadedFiles/Notice_chsl_09052023.pdf" target="_blank">
                                            Notice of Combined Higher Secondary (10+2) Level Examination, 2023
                                        </a>
                                        <small style="font-family:Calibri;">
                                            (2129.07 KB)
                                        </small>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="eachNotification ">
                                    <span>May<i>8</i>2023</span>
                                    <!-- ==Edited on 14-03-2018 : Added file info== -->
                                    <p class="English">
                                        <a href="https://ssc.nic.in/SSCFileServer/PortalManagement/UploadedFiles/Write-up_Marks_Module_08052023.pdf" target="_blank">
                                            Uploading the marks of Constable (GD) in CAPFs,SSF and Rifleman (GD) in  Assam Rifles and Sepoy in Narcotics Control Bureau Examination, 2022-reg.
                                        </a>
                                        <small style="font-family:Calibri;">
                                            (90.64 KB)
                                        </small>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="eachNotification ">
                                    <span>May<i>4</i>2023</span>
                                    <!-- ==Edited on 14-03-2018 : Added file info== -->
                                    <p class="English">
                                        <a href="https://ssc.nic.in/SSCFileServer/PortalManagement/UploadedFiles/Corrigendum-I_CGLE-2023_04052023.pdf" target="_blank">
                                            Corrigendum-I to the Notice of Combined Graduate Level Examination, 2023
                                        </a>
                                        <img class="file-icon" alt="" title="pdf document. opens in new tab" src="/Content/library/assets/images/icons/pdficon.png">
                                        <small style="font-family:Calibri;">
                                            (514.16 KB)
                                        </small>
                                    </p>
                                </div>
                            </li>
                            <li>

                                <div class="eachNotification ">
                                    <span>May<i>4</i>2023</span>
                                    <!-- ==Edited on 14-03-2018 : Added file info== -->
                                    <p class="English">
                                        <a href="https://ssc.nic.in/SSCFileServer/PortalManagement/UploadedFiles/Important Notice for CGLE-2023 04.05.2023.pdf" target="_blank">
                                            Important Notice -Combined Graduate Level Examination, 2023
                                        </a>
                                        <img class="file-icon" alt="" title="pdf document. opens in new tab" src="/Content/library/assets/images/icons/pdficon.png">
                                        <small style="font-family:Calibri;">
                                            (358.00 KB)
                                        </small>
                                    </p>
                                </div>
                                </li></br>
                            <li>
                                <div class="eachNotification ">
                                    <span>May<i>4</i>2023</span>
                                    <!-- ==Edited on 14-03-2018 : Added file info== -->
                                    <p class="English">
                                        <a href="https://ssc.nic.in/SSCFileServer/PortalManagement/UploadedFiles/consultants_04052023.pdf" target="_blank">
                                            Notice for recruitment of two retired officers as "Recruitment and Office Consultant" in SSC (NR)
                                        </a>
                                        <small style="font-family:Calibri;">
                                            (2806.81 KB)
                                        </small>
                                    </p>
                                </div>
                            </li>
                            <li>

                                <div class="eachNotification ">
                                    <span>May<i>3</i>2023</span>
                                    <!-- ==Edited on 14-03-2018 : Added file info== -->
                                    <p class="English">
                                        <a href="https://ssc.nic.in/SSCFileServer/PortalManagement/UploadedFiles/Mock_Link_English_MTS22_03052023.pdf" target="_blank">
                                            Important Notice for candidates of MTS &amp; Havaldar  (CBIC &amp; CBN) Examination, 2022.
                                        </a>
                                        <small style="font-family:Calibri;">
                                            (98.99 KB)
                                        </small>
                                    </p>
                                </div>
                            </li>
                            <li>

                                <div class="eachNotification ">
                                    <span>May<i>1</i>2023</span>
                                    <!-- ==Edited on 14-03-2018 : Added file info== -->
                                    <p class="English">
                                        <a href="https://ssc.nic.in/SSCFileServer/PortalManagement/UploadedFiles/Notice_CGL2022_01052023.pdf" target="_blank">
                                            Important Notice - Combined Graduate Level Examination, 2022
                                        </a>
                                        <small style="font-family:Calibri;">
                                            (492.71 KB)
                                        </small>
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            </div>
    </div>
    </div>

</body>
</html>